body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 2rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

#biodata {
    background-color: #e2edff;
}

footer {
    background-color: #180342;
    color: white;
    padding-bottom: 5px;
}

footer p a {
    text-decoration: none;
    color: red;
}

.btn {
    width: 100px;
    background-color: #180342; 
    color:white;
    margin-bottom: 50px;
}

.btn:hover {
    background-color: lightblue;
}

.login-form-footer {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.login-form-footer a {
    flex: 6;
    border: 1px solid black;
    border-radius: 100px;
    padding: .6rem;
    justify-content: center;
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;   
}

.login-form-footer a img {
    margin-right: 10px;
}

.unik {
    margin-top: -8px;
}